---
import SelfIntro from "../components/SelfIntro.astro";
import SkillsList from "../components/SkillsList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="DayanVR Portfolio">
  <div class="mx-10 space-y-0 lg:mx-28 xl:mx-36">
    <SelfIntro />
    <SkillsList />
  </div>
</Layout>
