---
import Container from "./util/Container.astro";
import Timeline from "./Timeline.astro";
import Headings from "./util/Headings.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const {
  title,
  description: { one, two, three },
} = t.about;
---

<Container id="about">
  <Headings><span>{title}</span>( )</Headings>
  <div
    class="flex flex-col justify-between max-lg:space-y-8 lg:flex-row-reverse lg:items-center"
  >
    <picture class="max-xl:mx-auto">
      <img
        src="/pixlr-img.webp"
        class="size-60 rounded-full border-2 border-violet-600/60 shadow-[0_0px_50px_-15px_rgb(0,0,0,0.25)] shadow-violet-600/75 md:size-72 xl:size-80 2xl:size-96"
        alt="Picture of myself"
      />
    </picture>

    <article class="space-y-4 text-lg lg:max-w-lg xl:max-w-xl xl:text-xl">
      <p class="text-start text-pretty max-2xl:lg:mr-14" set:html={one} />

      <p class="text-start text-pretty max-2xl:lg:mr-14" set:html={two} />

      <p class="text-start text-pretty max-2xl:lg:mr-14" set:html={three} />
    </article>
  </div>
</Container>

<Timeline />
