---
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
---

<footer class="container mx-auto mb-6 h-24">
  <div
    class="flex items-center justify-evenly max-md:flex-col-reverse max-md:gap-4"
  >
    <p class="flex items-center text-xs text-mainGreen/90 md:text-lg">
      © Dayan Villavicencio Rolffot 2024. All rights reserved.
    </p>

    <div class="flex w-40 items-center justify-evenly lg:w-60">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/dayan-villavicencio-rolffot-6a652527a/"
      >
        <Linkedin
          aria-label="Review my Linkedin profile"
          class="size-10 transition hover:scale-110"
        />
      </a>
      <a class="" target="_blank" href="https://github.com/DayanVR">
        <Github
          aria-label="Review my GitHub page"
          class="size-10 transition hover:scale-110"
        />
      </a>
    </div>
  </div>
</footer>
