---
import HeaderLinks from "./util/HeaderLinks.astro";
import Linkedin from "./icons/Linkedin.astro";
import Github from "./icons/Github.astro";
import Email from "./icons/Email.astro";
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<header
  class="top-3 z-50 md:fixed md:left-2/4 md:w-screen md:-translate-x-2/4 lg:top-6"
>
  <div class="bg-black/20 backdrop-blur-lg">
    <div
      class="mx-auto -mt-6 flex justify-between gap-y-2.5 p-3 max-md:flex-col md:items-center md:py-6 lg:px-6 xl:px-32 2xl:max-w-7xl 2xl:px-0"
    >
      <div
        class="flex flex-col items-center justify-between gap-y-1 md:items-start"
      >
        <a
          href="#self-intro"
          class="text-mainGreen text-2xl font-semibold max-md:py-3 max-md:text-center sm:text-3xl"
        >
          <span class="text-white opacity-60">Dayan</span>VR
        </a>
        <div class="flex items-center gap-1.5">
          <h5 class="text-sm opacity-50 lg:text-base">
            {lang === "es" ? "Language" : "Idioma"}:
          </h5>
          <LanguagePicker />
        </div>
      </div>
      <nav class="flex w-full justify-evenly max-md:items-center">
        <div
          class="flex gap-2 text-xl font-medium max-md:flex-col md:gap-0.5 lg:text-2xl 2xl:gap-3"
        >
          <HeaderLinks href="#projects"> Projects </HeaderLinks>
          <HeaderLinks href="#skills"> Skills </HeaderLinks>
          <HeaderLinks href="#about"> About </HeaderLinks>
        </div>

        <div
          class="flex gap-2 text-xl font-medium max-md:flex-col max-md:items-end md:gap-0.5 lg:text-2xl 2xl:gap-3"
        >
          <HeaderLinks
            target="_blank"
            href="https://www.linkedin.com/in/dayan-villavicencio-rolffot-6a652527a/"
          >
            <Linkedin name="icon" />
            LinkedIn
          </HeaderLinks>
          <HeaderLinks target="_blank" href="https://github.com/DayanVR">
            <Github name="icon" />
            GitHub
          </HeaderLinks>
          <HeaderLinks
            target="_blank"
            href="mailto:dayanvillavicencio14@gmail.com"
            class="bg-gradient-to-br from-green-400 to-blue-600 p-1 hover:bg-gradient-to-bl focus:ring-green-200 dark:focus:ring-green-800"
          >
            <Email name="icon" />
            Contact me
          </HeaderLinks>
        </div>
      </nav>
    </div>
  </div>
</header>
