---
import Container from "./util/Container.astro";
---

<Container id="self-intro">
    <div class="flex items-center justify-between max-lg:flex-col">
      <div class="flex-col items-center space-y-2 max-lg:flex">
        <span class="md:text-3xl text-md sm:text-2xl 2xl:text-4xl font-bold opacity-60">Hello, I'm</span>
        <h1 class="font-semibold md:text-4xl text-balance lg:max-w-96 lg:text-7xl">
          <span class="text-mainGreen sm:text-3xl lg:text-5xl 2xl:text-6xl text-lg"
            >{"< Dayan Villavicencio Rolffot />"}</span
          >
        </h1>

        <h2 class=" sm:text-2xl text-white/85 md:py-3 lg:text-4xl 2xl:text-5xl text-lg font-semibold">Frontend Developer</h2>
        <a class='text-violet-600 mt-2 text-xl md:text-2xl px-3 py-1 rounded-xl border-violet-600 border-2 hover:bg-violet-700 hover:text-white transition-colors duration-300 font-semibold' href="/assets/Dayan_Villavicencio_Rolffot_Resume.pdf" download>
          Download CV
        </a>
      </div>

      <picture class="flex items-center">
        <img
          src="/pixlr-img.webp"
          class="rounded-full border-2 size-60 max-lg:mt-6 sm:size-80 2xl:size-96 border-violet-600/60 shadow-[0_0px_50px_-15px_rgb(0,0,0,0.25)] shadow-violet-600/75"
          alt="Picture of myself"
        />
      </picture>
    </div>
</Container>
