<ol
  class="relative mt-8 border-s border-gray-700 max-md:text-pretty md:text-balance"
>
  <li class="mb-10 ms-6">
    <span
      class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-900 ring-8 ring-gray-900"
    >
      <svg
        class="h-2.5 w-2.5 text-blue-300"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
        ></path>
      </svg>
    </span>
    <h2
      class="mb-1 flex items-center text-xl font-semibold text-mainGreen/85 "
    >
      Graduated from College
    </h2>
    <time class="mb-2 block text-base md:text-lg xl:text-xl font-normal leading-none text-gray-300/70"
      >December 2023</time
    >
    <p class="mb-4 text-lg lg:text-xl font-normal text-white/85">
      After graduating college, I immersed myself in self-study in web
      development. This journey honed my skills in front-end development,
      empowering me to create engaging web experiences more effectively
    </p>
  </li>
  <li class="mb-10 ms-6">
    <span
      class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-900 ring-8 ring-gray-900"
    >
      <svg
        class="h-2.5 w-2.5 text-blue-300"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
        ></path>
      </svg>
    </span>
    <h3 class="mb-1 text-xl font-semibold text-mainGreen/85 ">
      Started College
    </h3>
    <time class="mb-2 block text-base md:text-lg xl:text-xl font-normal leading-none text-gray-300/70"
      >September 2021</time
    >
    <p class="text-lg lg:text-xl font-normal text-white/85">
      My college journey started with excitement as I delved into Computer
      Science, a field that always fascinated me. This ignited my passion for
      technology and set the stage for a fulfilling academic experience.
    </p>
  </li>
  <li class="ms-6">
    <span
      class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-900 ring-8 ring-gray-900"
    >
      <svg
        class="h-2.5 w-2.5 text-blue-300"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
        ></path>
      </svg>
    </span>
    <h3 class="mb-1 text-xl font-semibold text-mainGreen/85 ">
      Finished High School
    </h3>
    <time class="mb-2 block text-base md:text-lg xl:text-xl font-normal leading-none text-gray-300/70"
      >June 2020</time
    >
    <p class="text-lg lg:text-xl font-normal text-white/85">
      I graduated from Dobie High School in Texas.
    </p>
  </li>
</ol>
