---
const { target, href } = Astro.props;
const classStyle = Astro.props.class;
---

<div
  class={`${classStyle} hover:scale-110 flex items-center transition rounded-lg hover:bg-gray-400/15`}
>
  <a
    target={target}
    href={href}
    class:list={[
      "flex w-full items-center gap-1 rounded-lg px-1 py-1 lg:gap-2 lg:px-3 [&_svg]:size-6",
      {
        "hover:text-mainGreen/85": !classStyle,
      },
    ]}
    ,><slot name="icon" /> <slot /></a
  >
</div>
