---
import About from "@components/About.astro";
import Projects from "@components/Projects.astro";
import SelfIntro from "@components/SelfIntro.astro";
import SkillsList from "@components/SkillsList.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="DayanVR Portfolio">
  <div class="pb-20 max-lg:px-6 max-lg:md:pt-10 lg:mx-28 xl:mx-44">
    <SelfIntro />
    <Projects />
    <SkillsList />
    <About />
  </div>
</Layout>

<style is:global>
  section,
  div {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 12%;
  }
  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 40px;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>
