---
import "@styles/global.css";
import "@fontsource-variable/exo-2/wght-italic.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="DayanVR web portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/pixlr-img.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="fixed top-0 left-0 -z-10 h-full w-full">
      <div
        class="absolute top-0 z-[-2] h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
      >
      </div>
    </div>
    <Header />
    <main class="container mx-auto max-sm:-mx-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    @apply h-screen;
  }
  html {
    font-family: "Exo 2 Variable", sans-serif;
    background-size: 224px;
    color-scheme: dark;
    padding-top: 23px;
    scroll-behavior: smooth;
    prefers-reduced-motion: reduce;
    overflow-x: hidden;
  }
</style>
